In [1]:
import statistics

import numpy as np
import pandas as pd

In [2]:
raw_train_df = pd.read_csv('titanic/train.csv')

### data wrangling

In [3]:
raw_train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
raw_train_df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [5]:
raw_train_df.drop(['Name'], axis=1, inplace=True)

In [6]:
raw_train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
raw_train_df['Sex'].unique()

array(['male', 'female'], dtype=object)

In [8]:
raw_train_df['Sex'].replace(['male', 'female'], [0, 1], inplace=True)

In [9]:
raw_train_df.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,0,35.0,0,0,373450,8.0500,NaN,S

In [10]:
raw_train_df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [11]:
raw_train_df['Embarked'] = pd.factorize(raw_train_df['Embarked'])[0]

In [12]:
raw_train_df.drop(['PassengerId', 'Cabin', 'Ticket'], axis=1, inplace=True)

In [13]:
raw_train_df['Survived'].replace(0, -1, inplace=True)

In [14]:
age_mean = raw_train_df['Age'].mean()
raw_train_df['Age'].replace(np.nan, age_mean, inplace=True)

In [15]:
raw_train_df.head(10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0        -1       3    0  22.000000      1      0   7.2500         0
1         1       1    1  38.000000      1      0  71.2833         1
2         1       3    1  26.000000      0      0   7.9250         0
3         1       1    1  35.000000      1      0  53.1000         0
4        -1       3    0  35.000000      0      0   8.0500         0
5        -1       3    0  29.699118      0      0   8.4583         2
6        -1       1    0  54.000000      0      0  51.8625         0
7        -1       3    0   2.000000      3      1  21.0750         0
8         1       3    1  27.000000      0      2  11.1333         0
9         1       2    1  14.000000      1      0  30.0708         1

### Converting the dataframe to numpy

In [16]:
input_matrix = raw_train_df.drop(['Survived'], axis=1).to_numpy()

In [17]:
labels_vector = raw_train_df['Survived'].to_numpy()
labels_vector = labels_vector.reshape(labels_vector.shape + (1,))

In [18]:
data_train = np.append(input_matrix, labels_vector, axis=1)

In [19]:
data_train

array([[ 3.        ,  0.        , 22.        , ...,  7.25      ,
         0.        , -1.        ],
       [ 1.        ,  1.        , 38.        , ..., 71.2833    ,
         1.        ,  1.        ],
       [ 3.        ,  1.        , 26.        , ...,  7.925     ,
         0.        ,  1.        ],
       ...,
       [ 3.        ,  1.        , 29.69911765, ..., 23.45      ,
         0.        , -1.        ],
       [ 1.        ,  0.        , 26.        , ..., 30.        ,
         1.        ,  1.        ],
       [ 3.        ,  0.        , 32.        , ...,  7.75      ,
         2.        , -1.        ]])

### Hyper-parameter tuning

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

import ms_svm as mss
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [21]:
print("Training the model with different hyper-parameters...")
for sigma in (1, 2, 3, 5, 8, 10):
    Input = [('scale',StandardScaler()), ('model', mss.Svm(mss.RbfKernel(sigma)))]
    pipe = Pipeline(Input)

    np.random.shuffle(data_train)

    X_train, X_test, y_train, y_test = train_test_split(data_train[:,0:-1], data_train[:,-1:], train_size=.75)

    pipe.fit(X_train, y_train)

    score = accuracy_score(y_test, pipe.predict(X_test))
    print("Accuracy score for s={0} is {1}".format(sigma, score))

Training the model with different hyper-parameters...
Stage 1 | 5 Loss: [7232.98405731]
Stage 2 | 5 Loss: [-298.03283271]
Stage 3 | 5 Loss: [-387.27821858]
Stage 4 | 5 Loss: [-452.76833298]
Stage 5 | 5 Loss: [-461.25192658]
Final Loss: [-461.95821532]
Accuracy score for s=1 is 0.7937219730941704
Stage 1 | 5 Loss: [15434.50312284]
Stage 2 | 5 Loss: [-422.66863005]
Stage 3 | 5 Loss: [-428.85551129]
Stage 4 | 5 Loss: [-492.66337168]
Stage 5 | 5 Loss: [-510.37096382]
Final Loss: [-511.32100451]
Accuracy score for s=2 is 0.8116591928251121
Stage 1 | 5 Loss: [16217.9327367]
Stage 2 | 5 Loss: [-452.87390853]
Stage 3 | 5 Loss: [-541.66801679]
Stage 4 | 5 Loss: [-554.25065492]
Stage 5 | 5 Loss: [-571.3364539]
Final Loss: [-572.43425471]
Accuracy score for s=3 is 0.820627802690583
Stage 1 | 5 Loss: [13684.9282593]
Stage 2 | 5 Loss: [-445.56977294]
Stage 3 | 5 Loss: [-605.77577846]
Stage 4 | 5 Loss: [-641.40429161]
Stage 5 | 5 Loss: [-640.08292178]
Final Loss: [-643.07502555]
Accuracy score for s=5 is 0.8565022421524664
Stage 1 | 5 Loss: [15703.37561115]
Stage 2 | 5 Loss: [-465.19416079]
Stage 3 | 5 Loss: [-624.35605069]
Stage 4 | 5 Loss: [-666.81715629]
Stage 5 | 5 Loss: [-673.84477461]
Final Loss: [-676.10179916]
Accuracy score for s=8 is 0.8340807174887892
Stage 1 | 5 Loss: [12299.65249033]
Stage 2 | 5 Loss: [-466.28673682]
Stage 3 | 5 Loss: [-639.22433767]
Stage 4 | 5 Loss: [-683.27053575]
Stage 5 | 5 Loss: [-686.65829728]
Final Loss: [-688.93462317]
Accuracy score for s=10 is 0.8071748878923767

Svm with RBF kernel with sigma = 5 gave the best result, i.e. 0.8565 accuracy on unseen data. Btw, it took too long to compute as of 8 dec 2022 (3 hours or so) on my M1 mac.

### Final model

In [52]:
x_train = data_train[:,0:-1]
y_train = data_train[:,-1:]

In [53]:
x_train.shape, y_train.shape

((891, 7), (891, 1))

In [54]:
scale = StandardScaler()
model = mss.Svm(mss.RbfKernel(5))
model.iterations_per_stage = 1200

In [55]:
Input = [('scale', scale), ('model', model)]
pipe = Pipeline(Input)

In [59]:
pipe.fit(x_train, y_train)

Stage 1 | 5 Loss: [28188.11970934]
Stage 2 | 5 Loss: [-572.67926035]
Stage 3 | 5 Loss: [-786.45743142]
Stage 4 | 5 Loss: [-838.92113743]
Stage 5 | 5 Loss: [-843.446947]
Final Loss: [-847.47890801]

Pipeline(steps=[('scale', StandardScaler()),
                ('model', <ms_svm.Svm object at 0x17c77aa60>)])

In [60]:
accuracy_score(y_train, pipe.predict(x_train))

0.8316498316498316

### Predicting

In [61]:
test_df = pd.read_csv('titanic/test.csv')

In [62]:
test_df.drop(['Name'], axis=1, inplace=True)
test_df['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
test_df['Embarked'] = pd.factorize(test_df['Embarked'])[0]
test_df.drop(['Cabin', 'Ticket'], axis=1, inplace=True)
age_mean = test_df['Age'].mean()
test_df['Age'].replace(np.nan, age_mean, inplace=True)

In [63]:
test_df.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    0  34.5      0      0   7.8292         0
1          893       3    1  47.0      1      0   7.0000         1
2          894       2    0  62.0      0      0   9.6875         0
3          895       3    0  27.0      0      0   8.6625         1
4          896       3    1  22.0      1      1  12.2875         1

In [64]:
test_df.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,417.000000,418.000000
mean,1100.500000,2.265550,0.363636,30.272590,0.447368,0.392344,35.627188,1.133971
std,120.810458,0.841838,0.481622,12.634534,0.896760,0.981429,55.907576,0.580452
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800,1.000000
50%,1100.500000,3.000000,0.000000,30.272590,0.000000,0.000000,14.454200,1.000000
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200,2.000000

In [65]:
fare_mean = test_df['Fare'].mean()
test_df['Fare'].replace(np.nan, fare_mean, inplace=True)

In [66]:
test_df.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.363636,30.272590,0.447368,0.392344,35.627188,1.133971
std,120.810458,0.841838,0.481622,12.634534,0.896760,0.981429,55.840500,0.580452
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800,1.000000
50%,1100.500000,3.000000,0.000000,30.272590,0.000000,0.000000,14.454200,1.000000
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.500000,1.000000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200,2.000000

In [67]:
X = test_df.drop(['PassengerId'], axis=1).to_numpy()
ids = test_df['PassengerId'].to_numpy()
ids = ids.reshape(ids.shape + (1,))

In [79]:
y_predicted = pipe.predict(X)

In [81]:
y_predicted

array([[-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [ 1.],
       [-1.],
       [ 1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [ 1.],
       [-1.],
       [ 1.],
       [-1.],
       [-1.],
       [-1.]])

### Saving the predictions

In [85]:
predicted_data = np.append(ids, y_predicted, axis=1).astype(int)

In [86]:
predicted_data

array([[ 892,   -1],
       [ 893,    1],
       [ 894,   -1],
       [ 895,   -1],
       [ 896,    1],
       [ 897,   -1],
       [ 898,    1],
       [ 899,   -1],
       [ 900,    1],
       [ 901,   -1],
       [ 902,   -1],
       [ 903,   -1],
       [ 904,    1],
       [ 905,   -1],
       [ 906,    1],
       [ 907,    1],
       [ 908,   -1],
       [ 909,   -1],
       [ 910,    1],
       [ 911,    1],
       [ 912,   -1],
       [ 913,    1],
       [ 914,    1],
       [ 915,   -1],
       [ 916,    1],
       [ 917,   -1],
       [ 918,    1],
       [ 919,   -1],
       [ 920,   -1],
       [ 921,   -1],
       [ 922,   -1],
       [ 923,   -1],
       [ 924,    1],
       [ 925,    1],
       [ 926,   -1],
       [ 927,   -1],
       [ 928,    1],
       [ 929,    1],
       [ 930,   -1],
       [ 931,   -1],
       [ 932,   -1],
       [ 933,   -1],
       [ 934,   -1],
       [ 935,    1],
       [ 936,    1],
       [ 937,   -1],
       [ 938,   -1],
       [ 939,   -1],
       [ 940,    1],
       [ 941,    1],
       [ 942,   -1],
       [ 943,   -1],
       [ 944,    1],
       [ 945,    1],
       [ 946,   -1],
       [ 947,   -1],
       [ 948,   -1],
       [ 949,   -1],
       [ 950,   -1],
       [ 951,    1],
       [ 952,   -1],
       [ 953,   -1],
       [ 954,   -1],
       [ 955,    1],
       [ 956,   -1],
       [ 957,    1],
       [ 958,    1],
       [ 959,   -1],
       [ 960,   -1],
       [ 961,   -1],
       [ 962,    1],
       [ 963,   -1],
       [ 964,    1],
       [ 965,   -1],
       [ 966,    1],
       [ 967,   -1],
       [ 968,   -1],
       [ 969,    1],
       [ 970,   -1],
       [ 971,    1],
       [ 972,   -1],
       [ 973,   -1],
       [ 974,   -1],
       [ 975,   -1],
       [ 976,   -1],
       [ 977,   -1],
       [ 978,    1],
       [ 979,    1],
       [ 980,    1],
       [ 981,    1],
       [ 982,    1],
       [ 983,   -1],
       [ 984,    1],
       [ 985,   -1],
       [ 986,   -1],
       [ 987,   -1],
       [ 988,    1],
       [ 989,   -1],
       [ 990,    1],
       [ 991,   -1],
       [ 992,    1],
       [ 993,   -1],
       [ 994,   -1],
       [ 995,   -1],
       [ 996,    1],
       [ 997,   -1],
       [ 998,   -1],
       [ 999,   -1],
       [1000,   -1],
       [1001,   -1],
       [1002,   -1],
       [1003,    1],
       [1004,    1],
       [1005,    1],
       [1006,    1],
       [1007,   -1],
       [1008,   -1],
       [1009,    1],
       [1010,   -1],
       [1011,    1],
       [1012,    1],
       [1013,   -1],
       [1014,    1],
       [1015,   -1],
       [1016,   -1],
       [1017,    1],
       [1018,   -1],
       [1019,   -1],
       [1020,   -1],
       [1021,   -1],
       [1022,   -1],
       [1023,   -1],
       [1024,   -1],
       [1025,   -1],
       [1026,   -1],
       [1027,   -1],
       [1028,   -1],
       [1029,   -1],
       [1030,    1],
       [1031,   -1],
       [1032,   -1],
       [1033,    1],
       [1034,   -1],
       [1035,   -1],
       [1036,   -1],
       [1037,   -1],
       [1038,   -1],
       [1039,   -1],
       [1040,   -1],
       [1041,   -1],
       [1042,    1],
       [1043,   -1],
       [1044,   -1],
       [1045,    1],
       [1046,   -1],
       [1047,   -1],
       [1048,    1],
       [1049,    1],
       [1050,   -1],
       [1051,    1],
       [1052,    1],
       [1053,   -1],
       [1054,    1],
       [1055,   -1],
       [1056,   -1],
       [1057,    1],
       [1058,   -1],
       [1059,   -1],
       [1060,    1],
       [1061,    1],
       [1062,   -1],
       [1063,   -1],
       [1064,   -1],
       [1065,   -1],
       [1066,   -1],
       [1067,    1],
       [1068,    1],
       [1069,   -1],
       [1070,    1],
       [1071,    1],
       [1072,   -1],
       [1073,   -1],
       [1074,    1],
       [1075,   -1],
       [1076,    1],
       [1077,   -1],
       [1078,    1],
       [1079,   -1],
       [1080,   -1],
       [1081,   -1],
       [1082,   -1],
       [1083,   -1],
       [1084,   -1],
       [1085,   -1],
       [1086,    1],
       [1087,   -1],
       [1088,    1],
       [1089,    1],
       [1090,   -1],
       [1091,    1],
       [1092,    1],
       [1093,    1],
       [1094,   -1],
       [1095,    1],
       [1096,   -1],
       [1097,   -1],
       [1098,    1],
       [1099,   -1],
       [1100,    1],
       [1101,   -1],
       [1102,   -1],
       [1103,   -1],
       [1104,   -1],
       [1105,    1],
       [1106,   -1],
       [1107,   -1],
       [1108,    1],
       [1109,   -1],
       [1110,    1],
       [1111,   -1],
       [1112,    1],
       [1113,   -1],
       [1114,    1],
       [1115,   -1],
       [1116,    1],
       [1117,    1],
       [1118,   -1],
       [1119,    1],
       [1120,   -1],
       [1121,   -1],
       [1122,   -1],
       [1123,    1],
       [1124,   -1],
       [1125,   -1],
       [1126,   -1],
       [1127,   -1],
       [1128,   -1],
       [1129,   -1],
       [1130,    1],
       [1131,    1],
       [1132,    1],
       [1133,    1],
       [1134,   -1],
       [1135,   -1],
       [1136,   -1],
       [1137,   -1],
       [1138,    1],
       [1139,   -1],
       [1140,    1],
       [1141,    1],
       [1142,    1],
       [1143,   -1],
       [1144,   -1],
       [1145,   -1],
       [1146,   -1],
       [1147,   -1],
       [1148,   -1],
       [1149,   -1],
       [1150,    1],
       [1151,   -1],
       [1152,   -1],
       [1153,   -1],
       [1154,    1],
       [1155,    1],
       [1156,   -1],
       [1157,   -1],
       [1158,   -1],
       [1159,   -1],
       [1160,    1],
       [1161,   -1],
       [1162,   -1],
       [1163,   -1],
       [1164,    1],
       [1165,    1],
       [1166,   -1],
       [1167,    1],
       [1168,   -1],
       [1169,   -1],
       [1170,   -1],
       [1171,   -1],
       [1172,    1],
       [1173,    1],
       [1174,    1],
       [1175,    1],
       [1176,    1],
       [1177,   -1],
       [1178,   -1],
       [1179,   -1],
       [1180,   -1],
       [1181,   -1],
       [1182,   -1],
       [1183,    1],
       [1184,   -1],
       [1185,   -1],
       [1186,   -1],
       [1187,   -1],
       [1188,    1],
       [1189,   -1],
       [1190,   -1],
       [1191,   -1],
       [1192,   -1],
       [1193,   -1],
       [1194,   -1],
       [1195,   -1],
       [1196,    1],
       [1197,    1],
       [1198,   -1],
       [1199,    1],
       [1200,   -1],
       [1201,    1],
       [1202,   -1],
       [1203,   -1],
       [1204,   -1],
       [1205,    1],
       [1206,    1],
       [1207,    1],
       [1208,   -1],
       [1209,   -1],
       [1210,   -1],
       [1211,   -1],
       [1212,   -1],
       [1213,   -1],
       [1214,   -1],
       [1215,   -1],
       [1216,    1],
       [1217,   -1],
       [1218,    1],
       [1219,   -1],
       [1220,   -1],
       [1221,   -1],
       [1222,    1],
       [1223,   -1],
       [1224,   -1],
       [1225,    1],
       [1226,   -1],
       [1227,   -1],
       [1228,   -1],
       [1229,   -1],
       [1230,   -1],
       [1231,   -1],
       [1232,   -1],
       [1233,   -1],
       [1234,   -1],
       [1235,    1],
       [1236,   -1],
       [1237,    1],
       [1238,   -1],
       [1239,    1],
       [1240,   -1],
       [1241,    1],
       [1242,    1],
       [1243,   -1],
       [1244,   -1],
       [1245,   -1],
       [1246,    1],
       [1247,   -1],
       [1248,    1],
       [1249,   -1],
       [1250,   -1],
       [1251,    1],
       [1252,   -1],
       [1253,    1],
       [1254,    1],
       [1255,   -1],
       [1256,    1],
       [1257,   -1],
       [1258,   -1],
       [1259,    1],
       [1260,    1],
       [1261,   -1],
       [1262,   -1],
       [1263,    1],
       [1264,   -1],
       [1265,   -1],
       [1266,    1],
       [1267,    1],
       [1268,    1],
       [1269,   -1],
       [1270,   -1],
       [1271,   -1],
       [1272,   -1],
       [1273,   -1],
       [1274,    1],
       [1275,    1],
       [1276,   -1],
       [1277,    1],
       [1278,   -1],
       [1279,   -1],
       [1280,   -1],
       [1281,   -1],
       [1282,   -1],
       [1283,    1],
       [1284,    1],
       [1285,   -1],
       [1286,   -1],
       [1287,    1],
       [1288,   -1],
       [1289,    1],
       [1290,   -1],
       [1291,   -1],
       [1292,    1],
       [1293,   -1],
       [1294,    1],
       [1295,    1],
       [1296,   -1],
       [1297,   -1],
       [1298,   -1],
       [1299,   -1],
       [1300,    1],
       [1301,    1],
       [1302,    1],
       [1303,    1],
       [1304,    1],
       [1305,   -1],
       [1306,    1],
       [1307,   -1],
       [1308,   -1],
       [1309,   -1]])

In [74]:
dataframe = pd.DataFrame(predicted_data)
dataframe.columns = ['PassengerId', 'Survived']

In [87]:
dataframe['Survived'].replace(-1, 0, inplace=True)

In [90]:
dataframe.head(10)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1
5          897         0
6          898         1
7          899         0
8          900         1
9          901         0

In [89]:
dataframe.to_csv("titanic/predictions.csv", index=False)